.box-block {
  display: block;
  border: solid gray 1px;
  background-color: rgb(206, 206, 206);
}

.box-inline {
  display: inline;
  border: solid blue 1px;
  background-color: rgb(180, 180, 255);
}